---

// 假设你的个人信息数据如下
const profileData = {
  name: "contact with me",
  bio: "email: colorepistle@gmail.com",
  // 其他你想展示的个人信息
};
---


  <main>
    <h1>{profileData.name}</h1>
    <p>{profileData.bio}</p>
    <!-- 在这里添加更多你想展示的个人信息 -->
  </main>
